body{
  background-color: #0C24C5;
  color: white;
  height: 100vh;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 75vw;
  margin: 0 auto;
}
















